footer{
    background-color:var(--bg-color);
    height: 80px;
}
footer a{
    text-decoration: none;
}
footer p, footer a {
    text-align: center;
    color: white;
    font-size: 22px;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 0;
}